<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HomePage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center" style="border-color: var(--bs-gray-200);">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4">Add food details</h2>
                            <form method="post">
                                <div class="mb-3"><input class="form-control" type="text" id="name-2" name="food_name" placeholder="Enter food title here"></div>
                                <div class="mb-3"><textarea class="form-control" id="message-2" name="food_description" rows="6" placeholder="Enter food description here"></textarea></div>
                                <div class="mb-3"><input class="form-control" type="text" id="name-3" name="food_price" placeholder="Enter food price here"></div>
                                <div class="mb-3"><input class="form-control" type="text" id="name-4" name="food_discount" placeholder="Enter food discount in (%)"></div>
                                <div class="mb-3">
                                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle text-bg-light" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 360px;border-color: var(--bs-gray-500);">Select category&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                    </div>
                                </div>
                                <div class="mb-3"><label class="form-label">Select food picture</label><input class="form-control" type="file"></div>
                                <div>
                                    <div class="btn-group" role="group"><button class="btn btn-primary" type="button">Add food</button><button class="btn btn-danger" type="button">Close</button></div>
                                </div>
                                <div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/freelancer.js"></script>
</body>

</html>