<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HomePage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
</head>

<body>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">Special Items</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4"><img src="/assets/img/menu-item-2.png" width="300px" height="300px"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal"></a></div>
                <div class="col-md-6 col-lg-4"><img src="/assets/img/menu-item-5.png" width="300px" height="300px"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal"></a></div>
                <div class="col-md-6 col-lg-4"><img src="/assets/img/menu-item-1.png" width="300px" height="300px"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal"></a></div>
                <div class="col-md-6 col-lg-4"><img src="/assets/img/menu-item-3.png" width="300px" height="300px"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-bs-toggle="modal"></a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-bs-toggle="modal"></a><img src="/assets/img/menu-item-6.png" width="300px" height="300px"></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-bs-toggle="modal"></a><img src="/assets/img/menu-item-4.png" width="300px" height="300px"></div>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/freelancer.js"></script>
</body>

</html>