<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HomePage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
</head>

<body>
    <h1 style="background: var(--bs-indigo);">Total orders</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr style="background: var(--bs-warning);">
                    <th>Order id</th>
                    <th>User id</th>
                    <th>User name</th>
                    <th>User phone</th>
                    <th>Food image</th>
                    <th>Food title</th>
                    <th>Qnty</th>
                    <th>Price</th>
                    <th>Order date</th>
                    <th>Order receive date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/freelancer.js"></script>
</body>

</html>